<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список всех книг</title>
</head>
<body>

<div th:each="book : ${books}">
    <a style="color: blue; text-decoration: none;"
       th:href="@{/books/{id}(id=${book.getBookId()})}"
       th:text="${book.getTitle() + ', ' + book.getReleaseYear()}"></a>
</div>

<hr/>

<a href="/books?sort_by_year=true">
    <button>Отсортировать по году</button>
</a>

<br/><br/>

<a href="/books/add">
    <button>Добавить книгу</button>
</a>

<br/><br/>

<a href="/people">
    <button>Посмотреть список людей</button>
</a>

</body>
</html>